{
    "openapi" : "3.0.1",
    "info" : {
      "title" : "PrismHR Services API",
      "contact" : { },
      "license" : {
        "name" : "Apache 2.0 License",
        "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
      },
      "version" : "2025.09"
    },
    "servers" : [ {
      "url" : "https://api.prismhr.com/prismhr-api/services/rest"
    } ],
    "tags" : [ {
      "name" : "applicant",
      "description" : "This service manages applicants"
    }, {
      "name" : "benefits",
      "description" : "This service manages benefits"
    }, {
      "name" : "clientMaster",
      "description" : "This service manages clientMasters."
    }, {
      "name" : "codeFiles",
      "description" : "This service retrieves and updates code files"
    }, {
      "name" : "deductions",
      "description" : "This service manages employee payroll deductions"
    }, {
      "name" : "documentService",
      "description" : "This service manages Documents."
    }, {
      "name" : "employee",
      "description" : "This service retrieves and updates Employee Data"
    }, {
      "name" : "generalLedger",
      "description" : "This service retrieves and updates general ledger information"
    }, {
      "name" : "humanResources",
      "description" : "This service retrieves and updates human resources data"
    }, {
      "name" : "login",
      "description" : "This service manages user sessions"
    }, {
      "name" : "newHire",
      "description" : "This service manages new hires"
    }, {
      "name" : "payroll",
      "description" : "This service manages payrolls"
    }, {
      "name" : "prismSecurity",
      "description" : "This service contains operations to query security for PrismHR users"
    }, {
      "name" : "signon",
      "description" : "Register users and obtain single sign-on tokens and redirects"
    }, {
      "name" : "subscription",
      "description" : "This service manages subscriptions"
    }, {
      "name" : "system",
      "description" : "This service retrieves and updates System Data"
    }, {
      "name" : "taxRate",
      "description" : "This service manages taxRate"
    }, {
      "name" : "timesheet",
      "description" : "This service manages time sheets"
    } ],
    "paths" : {
      "/applicant/v1/createJobApplicant" : {
        "post" : {
          "tags" : [ "applicant" ],
          "summary" : "Create a new applicant or candidate for new hires",
          "description" : "This operation creates a new job applicant and returns a new <strong>applicantId</strong>. You can review applicants and their data on the Job Candidates form in PrismHR; to look up information for the applicant you created, enter the applicantId value in the Candidate Number field.<br/><br/>This operation enables import of applicants/new hire candidates into PrismHR from an external source, such as an applicant tracking system. Since these external systems may vary substantially, this operation is designed to be as flexible as possible, with minimal restrictions and validations on the input fields.",
          "operationId" : "createJobApplicant_1",
          "requestBody" : {
            "description" : "new applicant object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateJobApplicant"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateJobApplicant"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/applicant/v1/getJobApplicantList" : {
        "get" : {
          "tags" : [ "applicant" ],
          "summary" : "Get a list of job applicants",
          "description" : "This operation returns an array of all the job applicants/candidates for the specified client or clients. To retrieve applicants from multiple clients, pass a comma-separated list of values for the clientId. <br/>This operation also returns paginated results. Use the <strong>count</strong> and <strong>startpage</strong> query parameters to navigate through the list of applicants. <strong>count</strong> specifies the number of applicants to return per page, and <strong>startpage</strong> indicates the starting position in the applicant list. The operation returns these parameters in the response object as well, along with the <strong>total</strong> number of applicants.<br/>",
          "operationId" : "getJobApplicantList_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier--up to 20 IDs can be passed, separated by commas",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applicantId",
            "in" : "query",
            "description" : "applicant Id",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "applyDate",
            "in" : "query",
            "description" : "application date (YYYY-MM-DD format)",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "lastName",
            "in" : "query",
            "description" : "applicant last name",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "count",
            "in" : "query",
            "description" : "number of records returned per page",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "startpage",
            "in" : "query",
            "description" : "pagination start location (first page = '0')",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "listName",
            "in" : "header",
            "description" : "unique list name required when multiple client ids are passed",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantListResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantListResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/applicant/v1/getJobApplicants" : {
        "get" : {
          "tags" : [ "applicant" ],
          "summary" : "Get a list of job applicants",
          "description" : "This operation returns an array of all the job applicants/candidates for the specified client.<br/><br/>By default, this operation masks certain personally identifiable information (PII) in its response, such as applicant social security number and date of birth. Please refer to the API documentation article on <strong>Unmasking PII</strong> to learn how to unmask this data.",
          "operationId" : "getJobApplicants_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "id",
            "in" : "query",
            "description" : "applicant identifier",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/JobApplicantResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/addEmployeeAbsence" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "Add Absence Journal Entries",
          "description" : "Use this operation to add absence journal entries to an employee PTO register.",
          "operationId" : "addEmployeeAbsence_1",
          "requestBody" : {
            "description" : "object containing the record to be modified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmployeeAbsenceDetailsRequest"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmployeeAbsenceDetailsRequest"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            },
            "503" : {
              "description" : "the record specified for updating is currently locked by another user"
            }
          }
        }
      },
      "/benefits/v1/addFSAReimbursement" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "Add FSA reimbursement record for an employee",
          "description" : "Use this operation to create a new flexible spending account reimbursement for an employee. Be sure to enter NEW in the refNumber input field. This operation does not modify existing FSA reimbursements.",
          "operationId" : "addFSAReimbursement_1",
          "requestBody" : {
            "description" : "object containing the fsa reimbursement record to be added",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddFSAReimbursementRequest"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddFSAReimbursementRequest"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "409" : {
              "description" : "the record specified for updating has been modified since it was last read"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            },
            "503" : {
              "description" : "the record specified for updating is currently locked by another user"
            }
          }
        }
      },
      "/benefits/v1/adjustBenefitAdjustmentCycles" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "Adjust benefit adjustment cyles for an employee",
          "description" : "Use this operation to calculate benefit plan adjustments related to changes in the benefit adjustment cycle. The <b>writeAdjustment</b> parameter determines whether the system will write the recalculated values to the adjustment record. If this parameter is <b>false</b> (default value), the method returns calculation data without writing it to the adjustment record. To obtain the checksum for this method, call the BenefitService.getBenefitAdjustments method.",
          "operationId" : "adjustBenefitAdjustmentCycles_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/x-www-form-urlencoded" : {
                "schema" : {
                  "required" : [ "checksum", "clientId", "cycles", "employeeId", "refId", "writeAdjustment" ],
                  "type" : "object",
                  "properties" : {
                    "clientId" : {
                      "type" : "string",
                      "description" : "client identifier"
                    },
                    "employeeId" : {
                      "type" : "string",
                      "description" : "employee identifier"
                    },
                    "refId" : {
                      "type" : "string",
                      "description" : "adjustment reference number"
                    },
                    "cycles" : {
                      "type" : "string",
                      "description" : "benefit cycles to adjust"
                    },
                    "writeAdjustment" : {
                      "type" : "boolean",
                      "description" : "whether or not to write recalculated benefit data to the Benefit Adjustment record. If false (default), the method returns the recalculated benefit data but does not update the database",
                      "default" : false
                    },
                    "checksum" : {
                      "type" : "string",
                      "description" : "checksum value for data updates. To obtain the checksum for this method, call the BenefitService.getBenefitAdjustments method"
                    }
                  }
                }
              }
            }
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AdjustBenefitAdjustmentCyclesResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AdjustBenefitAdjustmentCyclesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "409" : {
              "description" : "the record specified for updating has been modified since it was last read"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            },
            "503" : {
              "description" : "the record specified for updating is currently locked by another user"
            }
          }
        }
      },
      "/benefits/v1/adjustPTO" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "PTO Adjustment",
          "description" : "Use this method to adjust Employee PTO.",
          "operationId" : "adjustPTO_1",
          "requestBody" : {
            "description" : "AdjustPTO object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdjustPTO"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AdjustPTO"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AdjustPTOResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AdjustPTOResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/archivePTORegister" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "archive employee PTO Registers",
          "description" : "Use this endpoint to archive employee PTO Registers.",
          "operationId" : "archivePTORegister_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "ptoRegisterType",
            "in" : "query",
            "description" : "PTO register type identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/SetDisabilityPlanEnrollmentDetailsResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/SetDisabilityPlanEnrollmentDetailsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "409" : {
              "description" : "the record specified for updating has been modified since it was last read"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            },
            "503" : {
              "description" : "the record specified for updating is currently locked by another user"
            }
          }
        }
      },
      "/benefits/v1/benefitEnrollmentStatus" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Benefit Enrollment Status",
          "description" : "This operation returns web enrollment configuration details for a specified client. You can filter the response to a specific employee ID or enrollment type (Benefit Enrollment, Open Enrollment, Anytime Enrollment, Life Event).<br/><br/>This operation also returns paginated results. Use the count and startpage request parameters to navigate through the list of records. count specifies the number of records to return per page, and startpage indicates the starting position in the list of enrollment records. The operation returns these parameters in the response object as well, along with the total number of records. If the total is greater than 5000, the initial response will include the first 5000 records with the value of the startpage as '0'. To collect the remaining records you must enter a new startpage until all the records are returned.",
          "operationId" : "benefitEnrollmentStatus_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier ",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "return only records for the specified employee",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "enrollmentType",
            "in" : "query",
            "description" : "return only records from a specific enrollment type; if empty, all enrollment records are returned; allowed values: \"BE\" (Benefits Enrollment), \"OE\" (Open Enrollment), \"AE\" (Anytime Enrollment), \"LE\" (Life Event)",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "count",
            "in" : "query",
            "description" : "number of enrollment records returned per page (default: 5000)",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "startpage",
            "in" : "query",
            "description" : "pagination start location (first page = '0')",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitEnrollmentStatusResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitEnrollmentStatusResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/deleteBenefitAdjustment" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "deletion of a specific reference number/client/employeeId/checksum benefit adjustment.",
          "description" : "deletion of a specific reference number/client/employeeId/checksum benefit adjustment. To obtain the checksum for this method, call the BenefitService.getBenefitAdjustments method",
          "operationId" : "deleteBenefitAdjustment_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/x-www-form-urlencoded" : {
                "schema" : {
                  "required" : [ "checksum", "clientId", "employeeId", "refNumber" ],
                  "type" : "object",
                  "properties" : {
                    "clientId" : {
                      "type" : "string",
                      "description" : "client identifier"
                    },
                    "employeeId" : {
                      "type" : "string",
                      "description" : "employee identifier"
                    },
                    "refNumber" : {
                      "type" : "string",
                      "description" : "reference number. "
                    },
                    "checksum" : {
                      "type" : "string",
                      "description" : "checksum. To obtain the checksum for this method, call the BenefitService.getBenefitAdjustments method"
                    }
                  }
                }
              }
            }
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "409" : {
              "description" : "the record specified for updating has been modified since it was last read"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "internal server error"
            },
            "503" : {
              "description" : "the record specified for updating is currently locked by another user"
            }
          }
        }
      },
      "/benefits/v1/enrollBenefit" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "Enroll a benefit plan",
          "description" : "Use this method to enroll an employee in a benefit plan.",
          "operationId" : "enrollBenefit_1",
          "requestBody" : {
            "description" : "BenefitPlanEnroll object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BenefitPlanEnroll"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BenefitPlanEnroll"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EnrollBenefitResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/EnrollBenefitResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/enrollPTORegister" : {
        "post" : {
          "tags" : [ "benefits" ],
          "summary" : "The BenefitService.enrollPTORegister enrolls an Employee in a PTO Register.",
          "description" : "You can use the new BenefitService.enrollPTORegister method to enroll an employee in a paid time off register. Please review the PTO Register Enrollment section of the PrismHR Online Help/PTO User Guide before using this feature, as this section contains important information about PTO register fields (specifically, the benefitStart and calculateThruDate fields).",
          "operationId" : "enrollPTORegister_1",
          "requestBody" : {
            "description" : "EnrollPTORegisterRequest object",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnrollPTORegisterRequest"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EnrollPTORegisterRequest"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/UpdateResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "422" : {
              "description" : "unprocessable content"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/get401KMatchRules" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get client's 401(k) match rules",
          "description" : "This method retrieves a client's 401(k) match rules.",
          "operationId" : "get401KMatchRules_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "benefitGroupId",
            "in" : "query",
            "description" : "benefit group identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "retirementPlanId",
            "in" : "query",
            "description" : "retirement plan identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "effectiveDate",
            "in" : "query",
            "description" : "YYYY-MM-DD formatted string",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetRetirement401KMatchRulesResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetRetirement401KMatchRulesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getACAOfferedEmployees" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get ACAOffered Employees",
          "description" : "Use this operation to retrieve data about variable hour employees who are set up to be offered benefits. This data can be set up on the ACA Offered Employees form in PrismHR, or by calling <tt>BenefitService.setACAOfferedEmployees</tt>.\n\n<br/><br/>This operation returns paginated results. Use the <strong>count</strong> and <strong>startpage</strong> query parameters to navigate through the list of employees. <strong>count</strong> specifies the number of employees to return per page, and <strong>startpage</strong> indicates the starting position in the employee list. The operation returns these parameters in the response object as well, along with the <strong>total</strong> number of employees. ",
          "operationId" : "getACAOfferedEmployees_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "Session Token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "count",
            "in" : "query",
            "description" : "number of employees returned per page",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "startpage",
            "in" : "query",
            "description" : "pagination start location (first page = '0')",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetACAOfferedEmployeesResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetACAOfferedEmployeesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getAbsenceJournal" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get absence journals",
          "description" : "This operation returns absence journal information for the specified journal(s) and client; specify up to 20 absence journals. Use EmployeeService.getEmployee with the AbsenceJournal option to retrieve journal IDs for specific employees.",
          "operationId" : "getAbsenceJournal_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "journalId",
            "in" : "query",
            "description" : "absence journal identifier(s)",
            "required" : true,
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AbsenceJournalResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AbsenceJournalResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getAbsenceJournalByDate" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get absence journals by Date",
          "description" : "This operation returns a list of absence journals for a specific date range for a specific client. You can filter the response to a specific employee ID. The maximum date range will be a year (for example 2024-04-01 to 2025-03-31).Both the journalDateStart and journalDateEnd fields are required.<br/><br/>This operation also returns paginated results. Use the <b>count</b> and <b>startpage</b> query parameters to navigate through the list of absence journals.<b>count</b> specifies the number of absence journals to return per page, and <b>startpage</b> indicates the starting position in the absence journal list. The operation returns these parameters in the response object as well, along with the <b>total</b> number of absence journals.<br/><br/>If the number of absence journals returned from the query is greater than 5000, you will be required to enter a count value of 5000 or under and a startpage.",
          "operationId" : "getAbsenceJournalByDate_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "return only records for the specified employee",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "journalDateStart",
            "in" : "query",
            "description" : "absence journals date range starting date (format: YYYY-MM-DD)",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "journalDateEnd",
            "in" : "query",
            "description" : "absence journals date range ending date (format: YYYY-MM-DD)",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "count",
            "in" : "query",
            "description" : "number of absence journal records returned per page",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "startpage",
            "in" : "query",
            "description" : "pagination start location (first page = '0')",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AbsenceJournalResponseWithDate"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AbsenceJournalResponseWithDate"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getActiveBenefitPlans" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get active plan(s) for an employee",
          "description" : "This operation return the benefit plan(s) that are currently active for the specified employee. You can specify an effectiveDate to use in this calculation; if it is left empty, then the current date is used. You can also specify a specific planId to return; if left empty, then an array (list) of all the plans is returned.",
          "operationId" : "getActiveBenefitPlans_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "planId",
            "in" : "query",
            "description" : "list of benefit plan IDs",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          }, {
            "name" : "effectiveDate",
            "in" : "query",
            "description" : "YYYY-MM-DD formatted string",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitPlansResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitPlansResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getAvailableBenefitPlans" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get available benefit plans for the specified employee",
          "description" : "This operation returns available benefit plans for the specified employee, including the employee's status in those plans (eligible, enrolled, and so on).",
          "operationId" : "getAvailableBenefitPlans_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AvailableBenefitPlansResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/AvailableBenefitPlansResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitAdjustments" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get benefit adjustment information for a specified employee",
          "description" : "This operation retrieves benefit adjustment information for a specified employee.",
          "operationId" : "getBenefitAdjustments_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier associated with the employee",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee whose benefits adjustments should be retrieved",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitAdjustmentsResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitAdjustmentsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getBenefitConfirmationData" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Downloads benefits confirmation statement",
          "description" : "<strong>Note:</strong> Web Service Users cannot call multiple concurrent instances of this method. Please wait until the first instance returns a <strong>buildStatus</strong> of \"DONE,\" retrieve your download link, and then, if necessary, invoke this method again. If you try to call a second instance before the first one completes, the system will return HTTP response code 429 and you must complete the previous instance using the <strong>downloadId</strong> provided before initiating a new instance.<br/><br/>Use this operation to return detailed benefit confirmation data associated with a particular client, employee, and benefit confirmation number. You can obtain the confirmation number by calling <tt>BenefitService.getBenefitConfirmationList</tt>.<br/><br/>This operation returns a JSON object that contains basic employee and benefit enrollment info, along with detailed data from the certification document.",
          "operationId" : "getBenefitConfirmationData_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "downloadId",
            "in" : "query",
            "description" : "identifier used to check status of / download data",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "confirmNum",
            "in" : "query",
            "description" : "benefits confirmation code",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DataResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DataResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "429" : {
              "description" : "too many requests - the request was made prior to the previous request being completed"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitConfirmationList" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get a list of benefit confirmation",
          "description" : "This operation returns all Benefit Confirmation numbers for a given client and employee, along with the date of confirmation. You can also filter the response to a specific <strong>year</strong>. <br/>To retrieve specific data about employee Benefit Confirmations, use this in conjunction with <tt>BenefitService.getBenefitConfirmationData</tt>.",
          "operationId" : "getBenefitConfirmationList_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "Employee Identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "Client Identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "year",
            "in" : "query",
            "description" : "Specify a year (in YYYY format) to only return confirmations from that year, or leave blank to return confirmations from all years",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitConfirmationListResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitConfirmationListResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getBenefitPlanList" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get a list of group benefit plans",
          "description" : "The BenefitService.getBenefitPlanList operation returns a list of system level benefit plans.",
          "operationId" : "getBenefitPlanList_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitPlanListResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitPlanListResponse"
                  }
                }
              }
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitPlans" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get benefit plans for the specified employee",
          "description" : "This operation returns benefit plan(s) for the specified employee (regardless of their status). You can specify one or more planIds to return; if left empty, then an array (list) of all the plans is returned.",
          "operationId" : "getBenefitPlans_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "planId",
            "in" : "query",
            "description" : "list of benefit plan IDs",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitPlansResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetBenefitPlansResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitRule" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get benefit rule",
          "description" : "This method returns a client's Benefit Rules information. Benefit rules establish the conditions that a client's employees must satisfy to enroll in a benefit plan: group benefit plans, retirement plans, flexible spending, and so on. To retrieve a list of current client benefit groups, use ClientMasterService.getClientCodes and use BenefitGroup as the option.If you do not specify a groupPlanId, then the method returns benefit rule information for all groups and any employee benefit rule overrides. Note that, for an employee override, the employee ID populates the benefitGroupId field in the response.<br/><br/>By default the benefitRule array data will use the most recent rates <= today’s date for all rules irrespective of the effective date of the rule. If useActualEffectiveDate is set to true then the billing and contribution rates will use rate data <= the rule’s effective date and be returned in the historicalRule array.<br/><br/>For future dated rules or billing rates we will return the future billing and contribution rate information for a rule with an effective date >= the future rate date.<br/><br/>In the case that there are only future dated rates in the system, we will use these rates for all benefit rules with an effective date <= the rate date.",
          "operationId" : "getBenefitRule_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "groupPlanId",
            "in" : "query",
            "description" : "identifier for client's benefit group, or employee ID if the rule is an employee-specific override",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "planId",
            "in" : "query",
            "description" : "identifier for the group benefit plan",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "effectiveDate",
            "in" : "query",
            "description" : "(format YYYY-MM-DD)",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "useActualEffectiveDate",
            "in" : "query",
            "description" : " when calculating contributions, whether to use the current effective date (false, default behavior) or the effective date of each individual benefit rule (true) which will be returned in the historicalRule array when there are rates subsequent to the effective date",
            "schema" : {
              "type" : "boolean"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitRuleResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitRuleResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitWorkflowGrid" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get client benefit work flow grid",
          "description" : "Use this operation to retrieve the fields in the client benefit workflow grid. Depending on the input, this method can return data for workflows with specific start dates at the client level and/or the system level.<br/><br/><strong>Note:</strong> Web Service Users cannot call multiple concurrent instances of this method. Please wait until the first instance returns a <strong>buildStatus</strong> of \"DONE,\" retrieve your download link, and then, if necessary, invoke this method again. If you try to call a second instance before the first one completes, the system will return HTTP response code 429 and you must complete the previous instance using the <strong>downloadId</strong> provided before initiating a new instance.<br/><br/>This operation is used to retrieve client work flow grid data from PrismHR for use by external programs To use this API, provide a client ID(optional) and desired oe start/end date range(optional). This will initialize the data retrieval and will respond with \"buildStatus\": \"INIT\". Subsequent calls to this API should be formatted exactly as the initial call, with the addition of the downloadId returned by the initial call. They will return either \"buildStatus\": \"BUILD\", \"buildStatus\": \"ERROR\", or \"buildStatus\": \"DONE\". If buildStatus is DONE, then \"dataObject\" will contain the URL where the compiled JSON data object may be retrieved.<br/><br/>The JSON object obtained at the URL in dataObject will have the following structure:<br/><br/><p style=\"height:250px;overflow-y:auto;font-family: Anonymous Pro,Menlo,Consolas,Bitstream Vera Sans Mono,Courier New,monospace;background-color: #f0f0f0;color: #000;padding: 1px 3px;\">{<br/>&nbsp;&nbsp;\"data\": [<br/>&nbsp;&nbsp;&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"clientWorkFlowGrid\": [<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"clientId\": \"string\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"workflowEffDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"betWFId\": \"string\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"beWFDesc\": \"string\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"windowLength\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeWFId\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeWFDesc\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"anytimeWFId\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"anytimeWFDesc\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeStartDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeEndDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"minOverlapDays\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"endEffDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"enableNotifications\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;],<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"systemWorkFlowGrid\": [<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"workflowEffDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"betWFId\": \"string\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"beWFDesc\": \"string\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"windowLength\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeWFId\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeWFDesc\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"anytimeWFId\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"anytimeWFDesc\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeStartDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"oeEndDate\": \"YYYY-MM-DD\",<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"minOverlapDays\": \"string\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\"endEffDate\": \"YYYY-MM-DD\"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]<br/>&nbsp;&nbsp;&nbsp;&nbsp;}<br/>&nbsp;&nbsp;]<br/>}</p>",
          "operationId" : "getBenefitWorkflowGrid_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "downloadId",
            "in" : "query",
            "description" : "identifier used to check status of / download data",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "workflowEffDate",
            "in" : "query",
            "description" : "YYYY-MM-DD formatted string",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "workflowLevel",
            "in" : "query",
            "description" : "workflow level: system-level (S), client-level (C), or both (B)",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "oeStartDate",
            "in" : "query",
            "description" : "YYYY-MM-DD formatted string",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "oeEndDate",
            "in" : "query",
            "description" : "YYYY-MM-DD formatted string",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DataResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DataResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "429" : {
              "description" : "too many requests - the request was made prior to the previous request being completed"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getBenefitsEnrollmentTrace" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get employee's benefit enrollment workflow",
          "description" : "Use this operation to return the steps in an employee's benefit enrollment workflow. This operation returns up to 5000 lines of trace data",
          "operationId" : "getBenefitsEnrollmentTrace_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitsEnrollmentTrace"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitsEnrollmentTrace"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getClientBenefitPlanSetupDetails" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get client benefit plan setup details",
          "description" : "This method returns benefit plan details for the specified client, plan, and plan classification",
          "operationId" : "getClientBenefitPlanSetupDetails_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "planId",
            "in" : "query",
            "description" : "plan identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "planClass",
            "in" : "query",
            "description" : "plan classification must be one of: 'G' (Group Benefits), 'R' (Retirement), 'F' (Flex Spending), 'M' (Employer Match), or 'H' (HSA)",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitPlanDetailResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/BenefitPlanDetailResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getClientBenefitPlans" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get client benefit plans",
          "description" : "This method returns all benefit plans available to a client, (regardless of their status).",
          "operationId" : "getClientBenefitPlans_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ClientBenefitPlanOverview"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/ClientBenefitPlanOverview"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getCobraCodes" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get Cobra Codes",
          "description" : "Use this operation to return list of qualifying events and termination reasons found in the Cobra processing parameters.",
          "operationId" : "getCobraCodes_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "Session Token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CobraCodesResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CobraCodesResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getCobraEmployee" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get Cobra Employee",
          "description" : "Use this operation to return COBRA benefit plan enrollment information about qualified employees.",
          "operationId" : "getCobraEmployee_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "Session Token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "Employee Identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CobraEmployeeDetailsResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/CobraEmployeeDetailsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getDependents" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get dependent information for an employee",
          "description" : "This operation returns information about the specified employee's dependents. <br/><br/>By default, this operation masks certain personally identifiable information (PII) in its response, such as Social Security Numbers and birth dates. Please refer to the API documentation article <strong>Unmasking PII</strong> to learn how to unmask this data.",
          "operationId" : "getDependents_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "dependentId",
            "in" : "query",
            "description" : "dependent identifier",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "onlyActive",
            "in" : "query",
            "description" : "Indicates whether the operation should return only active dependents. Valid values are true, false, or empty. If true, this operation returns only active dependents; if false or empty (default), this operation returns all dependents regardless of status.",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetDependentResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetDependentResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "500" : {
              "description" : "the server encountered an error and could not proceed with the request"
            }
          }
        }
      },
      "/benefits/v1/getDisabilityPlanEnrollmentDetails" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Benefit Enrollment Plan Details",
          "description" : "Use this operation to retrieve coverage amounts and other enrollment details for group benefit plans of Offer Types \"STD\" (short-term disability) or \"LTD\" (long-term disability\"). This includes settings that determine when an employee is required to submit an Evidence of Insurability (EOI) form. <br/><br/>\n\nUse the request parameters to return all enrollment details for a specific plan (planId with no filters), all enrollment details for effective dates on or after a particular <strong>fromDate</strong>, or all details for a specific plan and <strong>effectiveDate</strong>.",
          "operationId" : "getDisabilityEnrollmentPlanDetails_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "Session Token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "groupBenefitPlanId",
            "in" : "query",
            "description" : "benefit plan ID; must be a disability plan, with offerType=\"LTD\" or \"STD\" ",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "effectiveDate",
            "in" : "query",
            "description" : "specify a plan effective date (format: YYYY-MM-DD) to return only plans for that date; leave empty to return plan details for all effective dates",
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "fromDate",
            "in" : "query",
            "description" : "specify a date (format: YYYY-MM-DD) to return benefit plan enrollment records with effective dates on or after this date",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DisabilityEnrollmentPlanDetailsResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/DisabilityEnrollmentPlanDetailsResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
            "401" : {
              "description" : "the sessionId is not provided or has expired, obtain a new sessionId and try again"
            },
            "403" : {
              "description" : "the web service user credentials used to create the sessionId do not have access to the requested resource"
            },
            "404" : {
              "description" : "the requested resource could not be found"
            },
            "500" : {
              "description" : "internal server error"
            }
          }
        }
      },
      "/benefits/v1/getEligibleFlexSpendingPlans" : {
        "get" : {
          "tags" : [ "benefits" ],
          "summary" : "Get Eligible Flex Spending Plans for an Employee",
          "description" : "Use this operation to return a list of FSA and HSA plans for which an employee is eligible",
          "operationId" : "getEligibleFlexSpendingPlans_1",
          "parameters" : [ {
            "name" : "sessionId",
            "in" : "header",
            "description" : "session token",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "clientId",
            "in" : "query",
            "description" : "client identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "employeeId",
            "in" : "query",
            "description" : "employee identifier",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }, {
            "name" : "asOfDate",
            "in" : "query",
            "description" : "date to use when calculating an employee's eligibility. Defaults to today's date",
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "successful operation",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetEligibleFlexSpendingPlansResponse"
                  }
                },
                "application/xml" : {
                  "schema" : {
                    "$ref" : "#/components/schemas/GetEligibleFlexSpendingPlansResponse"
                  }
                }
              }
            },
            "400" : {
              "description" : "the request is not properly formatted or does not include required parameters"
            },
[...]
